@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}
body{
    overflow: hidden; /* escurecer o body*/
}
.background{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-image: url(IMG/minhafoto.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    padding-top: 1rem;
}

.cabecalho-link{
    display:flex ; /* deixa eles alinhados os links*/;
    gap: 3rem; /* afastamento dos links*/
    font-weight: 300;
    cursor: pointer;


}
.cabecalho-link a{ /* estilizar os links*/
    color: #fff;
    font-size: 12px;

}
.cabecalho-link a:hover{ /*fazer efeito de mudar de cor quando passar o mouse*/
    color: #2ecc71;
    transition: 0.3s all; 
}



.container-text{
    padding: 170px 0 0 210px;
}

.text h3{
    color: #fff;
    font-size: 15px;
}
.text h1{
    color: #fff;
    margin-top: 10px;/*tag para afastar do topo*/
}
.text span{
    color: #2ecc71;
}
.text p{
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
}
.text h2{
    color: #fff;
}
.redes-sociais a{
    color: #2ecc71;
    padding: 10px 0 20px 100px;
    margin-top: 20px;

}
/*<div class="container-text">
            <div class="text">
                
                <h1>Meus<span> Projetos</span></h1>
                <h2> Minha jornada no mundo de programação está apenas começando <br>
                ideias para projetos inovadores é o que não falta 
                pretendo <br> colocar tudo em prática o mais rápido póssivel!</h2>
                <h3>Por enquanto eu fiz um pequeno e simples projeto de uma calculadora web <br> 
                    para acessar é só clicar no icone de calculadora abaixo.</h3>
                    <div class="calculadora">
                        <a href="calculadoraweb.html"><i class="fa-solid fa-calculator"></i></a>
                    </div>       
            </div>     
        </div>*/